*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal

# Ignore Django media files in development
media/

# Ignore Django static files in development
staticfiles/

# Ignore macOS metadata files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore PyCharm settings
.idea/

# Ignore environment variables file
.env

venv

# Ignore Docker Compose file
docker-compose.yml
docker-compose.override.yml